<nav class='navbar navbar-dark bg-primary'>
  <div class='container-fluid'>
    <div>
      <a class='navbar-brand' href='/'>GM STORE</a>
    </div>
    <div class='text-light'>
      <span>Hola, <b>Kevin</b></span>
    </div>
  </div>
</nav>